@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i');

/*--- generic classes -----------------------------------------------------*/

.flexcenter {
  display: flex;
  justify-content: center;
}

.numeric {
  text-align: right;
}

.emoji {
  font-size: 80%;
  margin-left: 0.5em;
}

.archived {
  color: #888;
}

.hlf {
  color: #aaa;
}

.dimmed {
  color: #888;
}

.held {
  background-color: #adf;
}

.mycachestatus {
  font-style: italic;
  color: #888;
}

/*--- body ----------------------------------------------------------------*/

body, input {
  font-family: 'Alegreya', sans-serif;
}

/*--- tables --------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 1em;
}

th {
  border: black 1px solid;
}

td {
  border: black 1px solid;
  padding: 0.4rem 0.5rem;
  font-weight: 400;
  font-size: 133%;
}

tr.descr {
  text-transform: uppercase;
  font-size: 166%;
  letter-spacing: 0.2em;
}

tr.descr td {
  border: none;
  text-align: center;
}

/*--- options -------------------------------------------------------------*/

div.filter {
  text-align: center;
  color: #777;
}

div.filter a {
  text-decoration: underline;
}

/*--- cache rating --------------------------------------------------------*/

.rating {
 text-align: left;
 font-size: 100%;
 line-height: 90%;
}

/*--- cache name ----------------------------------------------------------*/

div.cachename {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.disabled a {
  color: #f00;
  background-color: #ff0;
}

/*--- svg setup -----------------------------------------------------------*/

svg {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

/*--- links ---------------------------------------------------------------*/

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

/*--- form ----------------------------------------------------------------*/

input {
  font-size: 100%;
  border: none;
  margin: 0;
}

/*==========================================================================*
  RATING CUSTOM INPUT
 *==========================================================================*/

.input-rating .fivestar {
  position: relative;
  cursor: arrow;
  user-select: none;
}

.input-rating .fivestar .mask {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}

/*==========================================================================*
  EMOJI PSEUDO-BUTTON CUSTOM INPUT
 *==========================================================================*/

 .input-emoji {
  user-select: none;
  cursor: pointer;
}

.input-emoji-dimmed {
  filter: grayscale(1) opacity(20%);
}
