<!doctype html>

<html>

<head>
  <title>Mandevil's Geocaching Page</title>
  <link rel="stylesheet" href="/default.css" type="text/css">
</head>

<body>

[% IF status == 'error' %]

  <h1>There was an error</h1>
  <p>[% mesg %]</p>

[% ELSE %]

  <h1>[% entrytype.ucfirst %] [% id %] was deleted</h1>

  <ul>
    <li>
      <a href="/[% entrytype %]s">View all [% entrytype %]s</a>
    </li>
    <li>
      <a href="/">View all caches</a>
    </li>
  </ul>

[% END %]

</body>

</html>
