[% PROCESS 'macros.tt' %]

<!doctype html>

<html>

<head>
  <title>Mandevil's Geocaching Page :: [% entrytype.ucfirst %]</title>
  <base href="/">
  <link rel="stylesheet" href="default.css" type="text/css">
  <script type="text/javascript" src="js/entry.js"></script>
</head>

<body class="entry">

[% IF status == 'error' %]

  <p>Something went wrong: [% errmsg %]</p>

[% ELSE %]

  [%# ======================================================================
      ==== FIND FORM =======================================================
      ====================================================================== %]

  [% IF entrytype == 'find' %]

  <form method="post" action="/submit/[% entrytype %]">

    <input type="hidden" name="entrytype" value="[% entrytype %]">

    <div class="form-find">

      [%#--- CACHE TYPE -----------------------------------------------------%]

      <div class="cell grid-icon fcenter">
        <span class="input-cachetype">[% typeicon(result.ctype || 2) %]</span>
        <input type="hidden" name="ctype" value="[% result.ctype || 2 %]">
      </div>

      [%#--- ROW IDENTIFIER -------------------------------------------------%]

      <div class="cell grid-id fcenter">
        [% result.finds_i %]
        <input type="hidden" name="finds_i" value="[% result.finds_i %]">
      </div>

      [%#--- CACHE ID -------------------------------------------------------%]

      <div class="cell grid-cid fcenter">
        <input name="cacheid" value="[% result.cacheid %]"
        placeholder="GC code" size="7" maxlength="7">
      </div>

      [%#--- DIFFICULTY / TERRAIN RATING ------------------------------------%]

      <div class="cell grid-rating fcenter">

        [% SET diff_default = result.difficulty || 2 %]
        [% SET terr_default = result.terrain || 2 %]

        <div class="input-rating">
          <div class="fivestar">★★★★★<div class="mask" style="width:[% 100 - diff_default * 10 %]%"></div></div>
          <input type="hidden" name="difficulty" value="[% diff_default / 2 %]">
        </div>

        <div class="input-rating">
          <div class="fivestar">★★★★★<div class="mask" style="width:[% 100 - terr_default * 10 %]%"></div></div>
          <input type="hidden" name="terrain" value="[% terr_default / 2 %]">
        </div>

      </div>

      [%#--- CACHE NAME -----------------------------------------------------%]

      <div class="cell grid-name">
        <input name="name" value="[% result.name %]" placeholder="cache name">
      </div>

      [%#--- PREVIOUS FIND DATE ---------------------------------------------%]

      <div class="cell grid-prev fcenter">
        <input name="prev" value="[% result.prev %]" placeholder="prev find">
      </div>

      [%#--- FIND DATE ------------------------------------------------------%]

      <div class="cell grid-found fcenter">
        <input name="found" value="[% result.found %]" placeholder="date found">
      </div>

      [%#--- NEXT FIND DATE -------------------------------------------------%]

      <div class="cell grid-next fcenter">
        <input name="next" value="[% result.next %]" placeholder="next find">
      </div>

      [%#--- FLAGS ----------------------------------------------------------%]

      <div class="cell grid-flags">

        [% IF entrytype == 'hide' %]

        <div>
          <span class="input-emoji" data-emojis="☀️|🌥️|🛠️|⛏️|🏁"></span><input
          type="hidden" name="status" value="[% result.status %]">
        </div>

        [% END %]

        <div>
          <span class="input-emoji" data-emojis="📷"></span><input
          type="hidden" name="gallery" value="[% result.gallery %]">
        </div>

        <div>
          <span class="input-emoji" data-emojis="💙"></span><input
          type="hidden" name="favorite" value="[% result.favorite %]">
        </div>

        <div>
          <span class="input-emoji" data-emojis="🥇🥈🥉"></span><input
          type="hidden" name="xtf" value="[% result.xtf %]">
        </div>

        <div>
          <span class="input-emoji" data-emojis="❌"></span><input
          type="hidden" name="archived" value="[% result.archived %]">
        </div>

      </div>

      [%#--- LOG UUID -------------------------------------------------------%]

      <div class="cell grid-logid">
        <input name="logid" value="[% result.logid %]" placeholder="log uuid">
      </div>

      [%#--- FORM CONTROLS --------------------------------------------------%]

      <div class="cell grid-foot">
        <button type="submit">Submit</button>
      </div>

    </div>

  </form>

  [% END %]

  [%#--- POPUP WITH CACHE TYPES MENU --------------------------------------- %]

  <div class="popup">

    <div class="cachetypes">

      <div>
        <span class="cachetype">[% typeicon(2) %] traditional cache</span>
        <span class="cachetype">[% typeicon(3) %] multicache</span>
        <span class="cachetype">[% typeicon(8) %] unknown cache</span>
        <span class="cachetype">[% typeicon(137) %] Earth cache</span>
        <span class="cachetype">[% typeicon(4) %] virtual cache</span>
        <span class="cachetype">[% typeicon(1858) %] Wherigo cache</span>
        <span class="cachetype">[% typeicon(5) %] letterbox hybrid</span>
        <span class="cachetype">[% typeicon(11) %] webcam cache</span>
        <span class="cachetype">[% typeicon(12) %] locationless cache</span>
        <span class="cachetype">[% typeicon(9) %] Project APE cache</span>
      </div>

      <div>
        <span class="cachetype">[% typeicon(13) %] CITO</span>
        <span class="cachetype">[% typeicon(6) %] event</span>
        <span class="cachetype">[% typeicon(453) %] mega event</span>
        <span class="cachetype">[% typeicon(7005) %] giga event</span>
        <span class="cachetype">[% typeicon(3653) %] Community Celebration Event</span>
        <span class="cachetype">[% typeicon(1304) %] GPS Adventures Exhibit</span>
        <span class="cachetype">[% typeicon(3773) %] Geocaching HQ</span>
        <span class="cachetype">[% typeicon(3774) %] Geocaching HQ Celebration</span>
        <span class="cachetype">[% typeicon(4738) %] Geocaching HQ Block Party</span>
      </div>

    </div>

  </div>


[% END %]

</body>

</html>
