<!doctype html>

<html>

<head>
  <title>Mandevil's Geocaching Page :: [% entrytype.ucfirst %]</title>
  <base href="/">
  <link rel="stylesheet" href="default.css" type="text/css">
</head>

<body>

[% IF status == 'error' %]

  <p>Something went wrong: [% errmsg %]</p>

[% ELSE %]

<div class="flexcenter">

  <form method="post" action="/submit/[% entrytype %]">

  <input type="hidden" name="entrytype" value="[% entrytype %]">

  <table>
    <tbody>

      [%# hides_i/finds_i are special; if the are present, submitting updates
      existing entry; if they are missing, submitting creates new entry %]

      [% IF entrytype == 'hide' %]
      <tr>
        <td>hide id</td>
        <td>
          [% result.hides_i %]
          <input type="hidden" name="hides_i" value="[% result.hides_i %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'find' %]
      <tr>
        <td>find id</td>
        <td>
          [% result.finds_i %]
          <input type="hidden" name="finds_i" value="[% result.finds_i %]">
        </td>
      </tr>
      [% END %]

      <tr>
        <td>cache id</td>
        <td>
          <input name="cacheid" value="[% result.cacheid %]" maxlength="7">
        </td>
      </tr>

      <tr>
        <td>name</td>
        <td>
          <input name="name" value="[% result.name %]" size="40">
        </td>
      </tr>

      <tr>
        <td>type</td>
        <td>
          <input name="ctype" value="[% result.ctype %]">
        </td>
      </tr>

      <tr>
        <td>difficulty</td>
        <td>
          <input name="difficulty" value="[% result.difficulty %]">
        </td>
      </tr>

      <tr>
        <td>terrain</td>
        <td>
          <input name="terrain" value="[% result.terrain %]">
        </td>
      </tr>

      [% IF entrytype == 'hide' %]
      <tr>
        <td>published</td>
        <td>
          <input name="published" value="[% result.published %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'hide' %]
      <tr>
        <td>finds</td>
        <td>
          <input name="finds" value="[% result.finds %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'hide' %]
      <tr>
        <td>last found</td>
        <td>
          <input name="found" value="[% result.found %]">
        </td>
      </tr>
      [% END %]

      <tr>
        <td>gallery</td>
        <td>
          <input name="gallery" value="[% result.gallery %]">
        </td>
      </tr>

      <tr>
        <td>archived</td>
        <td>
          <input name="archived" value="[% result.archived %]">
        </td>
      </tr>

      [% IF entrytype == 'find' %]
      <tr>
        <td>prev</td>
        <td>
          <input name="prev" value="[% result.prev %]">
        </td>
      </tr>

      <tr>
        <td>found</td>
        <td>
          <input name="found" value="[% result.found %]">
        </td>
      </tr>

      <tr>
        <td>next</td>
        <td>
          <input name="next" value="[% result.next %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'find' %]
      <tr>
        <td>favorite</td>
        <td>
          <input name="favorite" value="[% result.favorite %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'find' %]
      <tr>
        <td>xtf</td>
        <td>
          <input name="xtf" value="[% result.xtf %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'find' %]
      <tr>
        <td>logid</td>
        <td>
          <input name="logid" value="[% result.logid %]">
        </td>
      </tr>
      [% END %]

      [% IF entrytype == 'hide' %]
      <tr>
        <td>status</td>
        <td>
          <input name="status" value="[% result.status %]">
        </td>
      </tr>
      [% END %]

    </tbody>
  </table>

  <button type="submit">Submit</button>

  </form>

</div>

[% END %]

</body>

</html>
